In [1]:
import pandas as pd
import numpy as np
import pybaseball as pb
from datetime import date, timedelta, datetime
import time

In [19]:
team_data = pb.team_batting(2023)
team_data.to_csv("data/team_batting.csv")
team_data.iloc[:,1:50].columns

Index(['Season', 'Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes', 'IFH',
       'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'BABIP',
       'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%'],
      dtype='object')

In [3]:
team_data.iloc[:,50:100].columns

Index(['wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C',
       'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C'],
      dtype='object')

In [4]:
team_data.iloc[:,100:150].columns

Index(['wSF/C', 'wKN/C', 'O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%',
       'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR',
       'FA% (sc)', 'FT% (sc)', 'FC% (sc)', 'FS% (sc)', 'FO% (sc)', 'SI% (sc)',
       'SL% (sc)', 'CU% (sc)', 'KC% (sc)', 'EP% (sc)', 'CH% (sc)', 'SC% (sc)',
       'KN% (sc)', 'UN% (sc)', 'vFA (sc)', 'vFT (sc)', 'vFC (sc)', 'vFS (sc)',
       'vFO (sc)', 'vSI (sc)', 'vSL (sc)', 'vCU (sc)', 'vKC (sc)', 'vEP (sc)',
       'vCH (sc)', 'vSC (sc)', 'vKN (sc)', 'FA-X (sc)', 'FT-X (sc)',
       'FC-X (sc)', 'FS-X (sc)', 'FO-X (sc)', 'SI-X (sc)', 'SL-X (sc)',
       'CU-X (sc)', 'KC-X (sc)', 'EP-X (sc)', 'CH-X (sc)'],
      dtype='object')

In [5]:
team_data.iloc[:,150:200].columns

Index(['SC-X (sc)', 'KN-X (sc)', 'FA-Z (sc)', 'FT-Z (sc)', 'FC-Z (sc)',
       'FS-Z (sc)', 'FO-Z (sc)', 'SI-Z (sc)', 'SL-Z (sc)', 'CU-Z (sc)',
       'KC-Z (sc)', 'EP-Z (sc)', 'CH-Z (sc)', 'SC-Z (sc)', 'KN-Z (sc)',
       'wFA (sc)', 'wFT (sc)', 'wFC (sc)', 'wFS (sc)', 'wFO (sc)', 'wSI (sc)',
       'wSL (sc)', 'wCU (sc)', 'wKC (sc)', 'wEP (sc)', 'wCH (sc)', 'wSC (sc)',
       'wKN (sc)', 'wFA/C (sc)', 'wFT/C (sc)', 'wFC/C (sc)', 'wFS/C (sc)',
       'wFO/C (sc)', 'wSI/C (sc)', 'wSL/C (sc)', 'wCU/C (sc)', 'wKC/C (sc)',
       'wEP/C (sc)', 'wCH/C (sc)', 'wSC/C (sc)', 'wKN/C (sc)', 'O-Swing% (sc)',
       'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)',
       'Contact% (sc)', 'Zone% (sc)', 'Pace', 'Def'],
      dtype='object')

In [6]:
team_data.iloc[:,200:250].columns

Index(['wSB', 'UBR', 'Age Rng', 'Off', 'Lg', 'wGDP', 'Pull%', 'Cent%', 'Oppo%',
       'Soft%', 'Med%', 'Hard%', 'TTO%', 'CH% (pi)', 'CS% (pi)', 'CU% (pi)',
       'FA% (pi)', 'FC% (pi)', 'FS% (pi)', 'KN% (pi)', 'SB% (pi)', 'SI% (pi)',
       'SL% (pi)', 'XX% (pi)', 'vCH (pi)', 'vCS (pi)', 'vCU (pi)', 'vFA (pi)',
       'vFC (pi)', 'vFS (pi)', 'vKN (pi)', 'vSB (pi)', 'vSI (pi)', 'vSL (pi)',
       'vXX (pi)', 'CH-X (pi)', 'CS-X (pi)', 'CU-X (pi)', 'FA-X (pi)',
       'FC-X (pi)', 'FS-X (pi)', 'KN-X (pi)', 'SB-X (pi)', 'SI-X (pi)',
       'SL-X (pi)', 'XX-X (pi)', 'CH-Z (pi)', 'CS-Z (pi)', 'CU-Z (pi)',
       'FA-Z (pi)'],
      dtype='object')

In [7]:
team_data.iloc[:,250:300].columns

Index(['FC-Z (pi)', 'FS-Z (pi)', 'KN-Z (pi)', 'SB-Z (pi)', 'SI-Z (pi)',
       'SL-Z (pi)', 'XX-Z (pi)', 'wCH (pi)', 'wCS (pi)', 'wCU (pi)',
       'wFA (pi)', 'wFC (pi)', 'wFS (pi)', 'wKN (pi)', 'wSB (pi)', 'wSI (pi)',
       'wSL (pi)', 'wXX (pi)', 'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)',
       'wFA/C (pi)', 'wFC/C (pi)', 'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)',
       'wSI/C (pi)', 'wSL/C (pi)', 'wXX/C (pi)', 'O-Swing% (pi)',
       'Z-Swing% (pi)', 'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)',
       'Contact% (pi)', 'Zone% (pi)', 'Pace (pi)', 'FRM', 'AVG+', 'BB%+',
       'K%+', 'OBP+', 'SLG+', 'ISO+', 'BABIP+', 'LD+%', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+'],
      dtype='object')

In [8]:
team_data.iloc[:,300:].columns

Index(['Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrels',
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA', 'L-WAR'],
      dtype='object')

In [9]:
team_data = team_data[['Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes', 'IFH',
       'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'BABIP',
       'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%','wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C',
       'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C','O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%',
       'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR','O-Swing% (sc)',
       'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)',
       'Contact% (sc)', 'Zone% (sc)', 'Pace', 'Def','FRM', 'AVG+', 'BB%+',
       'K%+', 'OBP+', 'SLG+', 'ISO+', 'BABIP+', 'LD+%', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+','Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrels',
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA']]
team_data.dropna(axis = 1)
team_data.head()

,Team,Age,G,AB,PA,H,1B,2B,3B,HR,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,ATL,29,1010,2455,2743,661,403,127,5,126,...,0.122,118.6,859,0.457,1878,0.142,0.263,NaN,NaN,NaN
1,TBR,28,1064,2518,2832,662,396,138,11,117,...,0.093,114.5,805,0.423,1905,0.158,0.277,NaN,NaN,NaN
2,TEX,29,1010,2521,2827,687,426,155,9,97,...,0.091,115.1,821,0.427,1924,0.159,0.261,NaN,NaN,NaN
3,LAD,29,1077,2432,2796,586,331,127,12,116,...,0.102,112.7,774,0.424,1826,0.169,0.278,NaN,NaN,NaN
4,LAA,28,1040,2517,2842,645,408,122,7,108,...,0.095,117.2,799,0.420,1901,0.147,0.265,NaN,NaN,NaN

In [10]:
sdate = date(2023,4,30)
edate = datetime.today()-timedelta(days=1)
edate = datetime.strftime(edate, '%Y-%m-%d')
dates = pd.date_range(sdate,edate,freq='d')
dates = list(dates.format())
# print(dates)
dfs = []
for x in dates:
    print(x)
    time.sleep(15)
    pdd = pb.pitching_stats_range(x)
    dfs.append(pdd)
# pitch_data_daily = pb.pitching_stats_range("2023-05-28")
pitch_data_daily = pd.concat(dfs)
pitch_data_daily.to_csv("data/pitcher_daily_stats.csv")
pitch_data_daily.head()

2023-04-30
2023-05-01
2023-05-02
2023-05-03
2023-05-04
2023-05-05
2023-05-06
2023-05-07
2023-05-08
2023-05-09
2023-05-10
2023-05-11
2023-05-12
2023-05-13
2023-05-14
2023-05-15
2023-05-16
2023-05-17
2023-05-18
2023-05-19
2023-05-20
2023-05-21
2023-05-22
2023-05-23
2023-05-24
2023-05-25
2023-05-26
2023-05-27
2023-05-28
2023-05-29
2023-05-30
2023-05-31
2023-06-01
2023-06-02
2023-06-03
2023-06-04
2023-06-05
2023-06-06
2023-06-07
2023-06-08
2023-06-09
2023-06-10
2023-06-11
2023-06-12
2023-06-13
2023-06-14
2023-06-15
2023-06-16
2023-06-17
2023-06-18
2023-06-19

,Name,Age,#days,Lev,Date,Tm,,Opp,G,GS,...,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID
1,Albert Abreu,27,51,Maj-AL,"Apr 30, 2023",New York,@,Texas,1,0,...,0.15,0.05,0.50,0.25,0.0,6.0,0.333,9.0,0.25,656061
2,Bryan Abreu,26,51,Maj-AL,"Apr 30, 2023",Houston,,Philadelphia,1,0,...,0.14,0.09,1.00,0.00,0.0,1.0,0.000,9.0,1.00,650556
3,Domingo Acevedo,29,51,Maj-AL,"Apr 30, 2023",Oakland,,Cincinnati,1,0,...,0.11,0.00,0.33,0.67,0.0,9.0,0.667,0.0,0.00,642758
4,Jason Adam,31,51,Maj-AL,"Apr 30, 2023",Tampa Bay,@,Chicago,1,0,...,0.19,0.10,0.67,0.33,0.0,1.0,0.333,18.0,NaN,592094
5,Scott Alexander,33,51,Maj-NL,"Apr 30, 2023",San Francisco,@,San Diego,1,0,...,0.22,0.11,1.00,0.00,0.0,0.0,0.000,9.0,NaN,518397

In [11]:
daily_ks = pitch_data_daily[['Name', 'SO', 'Opp', 'GS']]
daily_ks_S = daily_ks[daily_ks["GS"] == 1]
daily_ks_S = daily_ks_S.rename(columns = {"SO":"K"})
daily_ks_S = daily_ks_S.drop(columns = "GS")
daily_ks_S.head()

              Name  K        Opp
6      Logan Allen  8     Boston
11   Chris Bassitt  7    Seattle
16    Kyle Bradish  5    Detroit
23  Mike Clevinger  8  Tampa Bay
24       Alex Cobb  7  San Diego

In [17]:
pitch_season = pb.pitching_stats(2023, qual = 0)
pitch_season.shape

(693, 334)

In [20]:
pitch_season = pitch_season[['Name', 'Team','W', 'L', 'WAR', 'ERA','CG', 'ShO','IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB',
       'IBB', 'HBP', 'WP', 'BK', 'SO', 'GB', 'FB', 'LD', 'IFFB', 'Balls',
       'Strikes', 'Pitches', 'RS', 'IFH', 'BU', 'BUH', 'K/9', 'BB/9', 'K/BB',
       'H/9', 'HR/9', 'AVG', 'WHIP', 'BABIP', 'LOB%', 'FIP', 'GB/FB', 'LD%','GB%', 
       'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%', 'tERA', 'xFIP', 'WPA',
       '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'inLI', 'gmLI', 'exLI', 'Pulls',
       'WPA/LI', 'Clutch', 'FB% 2', 'FBv', 'SL%', 'SLv', 'CT%', 'CTv', 'CB%',
       'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%', 'PO%', 'wFB',
       'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C','wSL/C', 'wCT/C', 'wCB/C', 'wCH/C', 'wSF/C', 'wKN/C', 'O-Swing%',
       'Z-Swing%', 'Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'Zone%',
       'F-Strike%', 'SwStr%', 'HLD', 'SD', 'MD', 'ERA-', 'FIP-', 'xFIP-', 'K%',
       'BB%', 'SIERA', 'RS/9', 'E-F','K-BB%', 'Pull%',
       'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'kwERA', 'TTO%','Pace (pi)', 'FRM', 'K/9+', 'BB/9+', 'K/BB+', 'H/9+', 'HR/9+', 'AVG+',
       'WHIP+', 'BABIP+', 'LOB%+', 'K%+', 'BB%+', 'LD%+', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+', 'Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+',
       'EV', 'LA', 'Barrels', 'Barrel%', 'maxEV', 'HardHit', 'HardHit%',
       'Events', 'CStr%', 'CSW%', 'xERA']]
pitch_season.to_csv("data/pitcher_season_stats.csv")
pitch_season.head()

,Name,Team,W,L,WAR,ERA,CG,ShO,IP,TBF,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA
183,Zac Gallen,ARI,8,2,3.3,2.96,0,0,91.1,370,...,13.1,19,0.076,112.2,113,0.452,250,0.166,0.292,3.84
252,Zack Wheeler,PHI,6,4,3.1,3.48,0,0,88.0,368,...,15.5,11,0.045,112.1,89,0.365,244,0.152,0.278,3.18
198,Kevin Gausman,TOR,6,3,2.9,3.01,0,0,92.2,376,...,11.7,21,0.091,113.6,103,0.448,230,0.166,0.293,3.60
101,Framber Valdez,HOU,6,5,2.7,2.27,1,1,91.0,362,...,2.1,19,0.078,114.8,108,0.444,243,0.178,0.284,3.84
127,Nathan Eovaldi,TEX,9,3,2.6,2.59,2,1,93.2,361,...,4.4,16,0.065,112.2,105,0.425,247,0.164,0.283,3.13

In [21]:
pitch_all = pitch_season.merge(daily_ks_S, on = "Name")
pitch_all.to_csv("data/pitcher_season_daily.csv")
pitch_all.head()

,Name,Team,W,L,WAR,ERA,CG,ShO,IP,TBF,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA,K,Opp
0,Zac Gallen,ARI,8,2,3.3,2.96,0,0,91.1,370,...,0.076,112.2,113,0.452,250,0.166,0.292,3.84,6,Texas
1,Zac Gallen,ARI,8,2,3.3,2.96,0,0,91.1,370,...,0.076,112.2,113,0.452,250,0.166,0.292,3.84,7,Miami
2,Zac Gallen,ARI,8,2,3.3,2.96,0,0,91.1,370,...,0.076,112.2,113,0.452,250,0.166,0.292,3.84,6,San Francisco
3,Zac Gallen,ARI,8,2,3.3,2.96,0,0,91.1,370,...,0.076,112.2,113,0.452,250,0.166,0.292,3.84,2,Pittsburgh
4,Zac Gallen,ARI,8,2,3.3,2.96,0,0,91.1,370,...,0.076,112.2,113,0.452,250,0.166,0.292,3.84,3,Philadelphia

In [26]:
teams1 = team_data['Team'].unique().tolist()
teams1

['ATL',
 'TBR',
 'TEX',
 'LAD',
 'LAA',
 'BOS',
 'ARI',
 'SFG',
 'TOR',
 'STL',
 'BAL',
 'PHI',
 'CIN',
 'CHC',
 'NYM',
 'PIT',
 'MIA',
 'SDP',
 'COL',
 'WSN',
 'HOU',
 'MIN',
 'NYY',
 'SEA',
 'MIL',
 'CLE',
 'CHW',
 'KCR',
 'DET',
 'OAK']

In [27]:
team_data = team_data.replace(teams1, ['Atlanta', 'Tampa Bay', 'Texas', 'Los Angeles', 'Los Angeles', 'Boston', 
                                       'Arizona', 'San Francisco', 'Toronto', 'St. Louis', 'Baltimore', 'Philadelphia', 
                                       'Cincinnati', 'Chicago', 'New York', 'Pittsburgh', 'Miami', 'San Diego', 'Colorado', 
                                       'Washington', 'Houston', 'Minnesota', 'New York', 'Seattle', 'Milwaukee', 'Cleveland', 
                                       'Chicago', 'Kansas City', 'Detroit', 'Oakland'])

In [28]:
team_data['Team'].unique()

array(['Atlanta', 'Tampa Bay', 'Texas', 'Los Angeles', 'Boston',
       'Arizona', 'San Francisco', 'Toronto', 'St. Louis', 'Baltimore',
       'Philadelphia', 'Cincinnati', 'Chicago', 'New York', 'Pittsburgh',
       'Miami', 'San Diego', 'Colorado', 'Washington', 'Houston',
       'Minnesota', 'Seattle', 'Milwaukee', 'Cleveland', 'Kansas City',
       'Detroit', 'Oakland'], dtype=object)

In [34]:
full_df = pitch_all.merge(team_data, left_on = "Opp", right_on = "Team")
full_df.head(30)
full_df = full_df.drop(columns = ['Team_x', 'Team_y', 'Dol', 'Age Rng', 'Name'])
print(full_df.select_dtypes(include = 'object').columns)

Index(['Opp'], dtype='object')

In [35]:
full_df.to_csv("data/all_stats.csv")