In [12]:
import pandas as pd
import numpy as np
import pybaseball as pb
from pybaseball import cache
from datetime import date, timedelta, datetime
import time
cache.enable()

In [20]:
team_data = pb.team_batting(start_season=2024)
team_data.to_csv("data/team_batting.csv")
team_data.iloc[:,1:50].columns

Index(['Season', 'Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes', 'IFH',
       'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'BABIP',
       'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%'],
      dtype='object')

In [21]:
team_data.iloc[:,50:100].columns

Index(['wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C',
       'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C'],
      dtype='object')

In [22]:
team_data.iloc[:,100:150].columns

Index(['wSF/C', 'wKN/C', 'O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%',
       'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR',
       'FA% (sc)', 'FT% (sc)', 'FC% (sc)', 'FS% (sc)', 'FO% (sc)', 'SI% (sc)',
       'SL% (sc)', 'CU% (sc)', 'KC% (sc)', 'EP% (sc)', 'CH% (sc)', 'SC% (sc)',
       'KN% (sc)', 'UN% (sc)', 'vFA (sc)', 'vFT (sc)', 'vFC (sc)', 'vFS (sc)',
       'vFO (sc)', 'vSI (sc)', 'vSL (sc)', 'vCU (sc)', 'vKC (sc)', 'vEP (sc)',
       'vCH (sc)', 'vSC (sc)', 'vKN (sc)', 'FA-X (sc)', 'FT-X (sc)',
       'FC-X (sc)', 'FS-X (sc)', 'FO-X (sc)', 'SI-X (sc)', 'SL-X (sc)',
       'CU-X (sc)', 'KC-X (sc)', 'EP-X (sc)', 'CH-X (sc)'],
      dtype='object')

In [23]:
team_data.iloc[:,150:200].columns

Index(['SC-X (sc)', 'KN-X (sc)', 'FA-Z (sc)', 'FT-Z (sc)', 'FC-Z (sc)',
       'FS-Z (sc)', 'FO-Z (sc)', 'SI-Z (sc)', 'SL-Z (sc)', 'CU-Z (sc)',
       'KC-Z (sc)', 'EP-Z (sc)', 'CH-Z (sc)', 'SC-Z (sc)', 'KN-Z (sc)',
       'wFA (sc)', 'wFT (sc)', 'wFC (sc)', 'wFS (sc)', 'wFO (sc)', 'wSI (sc)',
       'wSL (sc)', 'wCU (sc)', 'wKC (sc)', 'wEP (sc)', 'wCH (sc)', 'wSC (sc)',
       'wKN (sc)', 'wFA/C (sc)', 'wFT/C (sc)', 'wFC/C (sc)', 'wFS/C (sc)',
       'wFO/C (sc)', 'wSI/C (sc)', 'wSL/C (sc)', 'wCU/C (sc)', 'wKC/C (sc)',
       'wEP/C (sc)', 'wCH/C (sc)', 'wSC/C (sc)', 'wKN/C (sc)', 'O-Swing% (sc)',
       'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)',
       'Contact% (sc)', 'Zone% (sc)', 'Pace', 'Def'],
      dtype='object')

In [24]:
team_data.iloc[:,200:250].columns

Index(['wSB', 'UBR', 'Age Rng', 'Off', 'Lg', 'wGDP', 'Pull%', 'Cent%', 'Oppo%',
       'Soft%', 'Med%', 'Hard%', 'TTO%', 'CH% (pi)', 'CS% (pi)', 'CU% (pi)',
       'FA% (pi)', 'FC% (pi)', 'FS% (pi)', 'KN% (pi)', 'SB% (pi)', 'SI% (pi)',
       'SL% (pi)', 'XX% (pi)', 'vCH (pi)', 'vCS (pi)', 'vCU (pi)', 'vFA (pi)',
       'vFC (pi)', 'vFS (pi)', 'vKN (pi)', 'vSB (pi)', 'vSI (pi)', 'vSL (pi)',
       'vXX (pi)', 'CH-X (pi)', 'CS-X (pi)', 'CU-X (pi)', 'FA-X (pi)',
       'FC-X (pi)', 'FS-X (pi)', 'KN-X (pi)', 'SB-X (pi)', 'SI-X (pi)',
       'SL-X (pi)', 'XX-X (pi)', 'CH-Z (pi)', 'CS-Z (pi)', 'CU-Z (pi)',
       'FA-Z (pi)'],
      dtype='object')

In [25]:
team_data.iloc[:,250:300].columns

Index(['FC-Z (pi)', 'FS-Z (pi)', 'KN-Z (pi)', 'SB-Z (pi)', 'SI-Z (pi)',
       'SL-Z (pi)', 'XX-Z (pi)', 'wCH (pi)', 'wCS (pi)', 'wCU (pi)',
       'wFA (pi)', 'wFC (pi)', 'wFS (pi)', 'wKN (pi)', 'wSB (pi)', 'wSI (pi)',
       'wSL (pi)', 'wXX (pi)', 'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)',
       'wFA/C (pi)', 'wFC/C (pi)', 'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)',
       'wSI/C (pi)', 'wSL/C (pi)', 'wXX/C (pi)', 'O-Swing% (pi)',
       'Z-Swing% (pi)', 'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)',
       'Contact% (pi)', 'Zone% (pi)', 'Pace (pi)', 'FRM', 'AVG+', 'BB%+',
       'K%+', 'OBP+', 'SLG+', 'ISO+', 'BABIP+', 'LD+%', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+'],
      dtype='object')

In [26]:
team_data.iloc[:,300:].columns

Index(['Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrels',
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA', 'L-WAR'],
      dtype='object')

In [27]:
team_data = team_data[['Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes', 'IFH',
       'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'BABIP',
       'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%','wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C',
       'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C','O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%',
       'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR','O-Swing% (sc)',
       'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)',
       'Contact% (sc)', 'Zone% (sc)', 'Pace', 'Def','FRM', 'AVG+', 'BB%+',
       'K%+', 'OBP+', 'SLG+', 'ISO+', 'BABIP+', 'LD+%', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+','Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrels',
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA']]
team_data.dropna(axis = 1)
team_data.head()

,Team,Age,G,AB,PA,H,1B,2B,3B,HR,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,NYY,29,779,1902,2164,487,318,81,5,83,...,0.103,119.9,613,0.411,1491,0.178,0.270,NaN,NaN,NaN
1,LAD,30,821,1980,2242,508,315,108,10,75,...,0.088,119.2,658,0.433,1518,0.160,0.266,NaN,NaN,NaN
2,PHI,29,789,1938,2195,500,338,83,13,66,...,0.071,115.2,609,0.408,1493,0.159,0.270,NaN,NaN,NaN
3,MIL,28,819,1886,2121,476,309,93,9,65,...,0.074,114.6,567,0.402,1410,0.191,0.293,NaN,NaN,NaN
4,HOU,29,803,1924,2133,499,342,88,4,65,...,0.069,116.8,625,0.401,1560,0.157,0.256,NaN,NaN,NaN

In [28]:
sdate = date(2024,3,28)
edate = datetime.today()-timedelta(days=1)
edate = datetime.strftime(edate, '%Y-%m-%d')
dates = pd.date_range(sdate,edate,freq='d')
dates = list(dates.format())
# remove = ['2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13']
# print(dates)
# for x in remove:
#     dates.remove(x)
# print(dates)
dfs = []
for x in dates:
    print(x)
    time.sleep(15)
    pdd = pb.pitching_stats_range(x)
    dfs.append(pdd)
# pitch_data_daily = pb.pitching_stats_range("2023-05-28")
pitch_data_daily = pd.concat(dfs)
pdd = pd.read_csv("data/pitcher_daily_stats.csv", index_col = 0)
pddfs = [pdd, pitch_data_daily]
pitch_data_daily = pd.concat(pddfs)
pitch_data_daily.to_csv("data/pitcher_daily_stats.csv")
pitch_data_daily.head()

2024-03-28
2024-03-29
2024-03-30
2024-03-31
2024-04-01
2024-04-02
2024-04-03
2024-04-04
2024-04-05
2024-04-06
2024-04-07
2024-04-08
2024-04-09
2024-04-10
2024-04-11
2024-04-12
2024-04-13
2024-04-14
2024-04-15
2024-04-16
2024-04-17
2024-04-18
2024-04-19
2024-04-20
2024-04-21
2024-04-22
2024-04-23
2024-04-24
2024-04-25
2024-04-26
2024-04-27
2024-04-28
2024-04-29
2024-04-30
2024-05-01
2024-05-02
2024-05-03
2024-05-04
2024-05-05
2024-05-06
2024-05-07
2024-05-08
2024-05-09
2024-05-10
2024-05-11
2024-05-12
2024-05-13
2024-05-14
2024-05-15
2024-05-16
2024-05-17
2024-05-18
2024-05-19
2024-05-20
2024-05-21
2024-05-22
2024-05-23
2024-05-24
2024-05-25
2024-05-26
2024-05-27
2024-05-28
2024-05-29

,Name,Age,#days,Lev,Date,Tm,,Opp,G,GS,...,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID
1,Albert Abreu,27,100,Maj-AL,"Apr 30, 2023",New York,@,Texas,1,0,...,0.15,0.05,0.50,0.25,0.0,6.0,0.333,9.0,0.25,656061
2,Bryan Abreu,26,100,Maj-AL,"Apr 30, 2023",Houston,NaN,Philadelphia,1,0,...,0.14,0.09,1.00,0.00,0.0,1.0,0.000,9.0,1.00,650556
3,Domingo Acevedo,29,100,Maj-AL,"Apr 30, 2023",Oakland,NaN,Cincinnati,1,0,...,0.11,0.00,0.33,0.67,0.0,9.0,0.667,0.0,0.00,642758
4,Jason Adam,31,100,Maj-AL,"Apr 30, 2023",Tampa Bay,@,Chicago,1,0,...,0.19,0.10,0.67,0.33,0.0,1.0,0.333,18.0,NaN,592094
5,Scott Alexander,33,100,Maj-NL,"Apr 30, 2023",San Francisco,@,San Diego,1,0,...,0.22,0.11,1.00,0.00,0.0,0.0,0.000,9.0,NaN,518397

In [29]:
daily_ks = pitch_data_daily[['Name', 'SO', 'Opp', 'GS', 'Date']]
daily_ks_S = daily_ks[daily_ks["GS"] == 1]
daily_ks_S = daily_ks_S.rename(columns = {"SO":"K"})
daily_ks_S = daily_ks_S.drop(columns = "GS")
daily_ks_S.head()

              Name  K        Opp          Date
6      Logan Allen  8     Boston  Apr 30, 2023
11   Chris Bassitt  7    Seattle  Apr 30, 2023
16    Kyle Bradish  5    Detroit  Apr 30, 2023
23  Mike Clevinger  8  Tampa Bay  Apr 30, 2023
24       Alex Cobb  7  San Diego  Apr 30, 2023

In [30]:
pitch_season = pb.pitching_stats(2024, qual = 0)
pitch_season.shape

(620, 393)

In [31]:
pitch_season = pitch_season[['Name', 'Team','W', 'L', 'WAR', 'ERA','CG', 'ShO','IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB',
       'IBB', 'HBP', 'WP', 'BK', 'SO', 'GB', 'FB', 'LD', 'IFFB', 'Balls',
       'Strikes', 'Pitches', 'RS', 'IFH', 'BU', 'BUH', 'K/9', 'BB/9', 'K/BB',
       'H/9', 'HR/9', 'AVG', 'WHIP', 'BABIP', 'LOB%', 'FIP', 'GB/FB', 'LD%','GB%', 
       'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%', 'tERA', 'xFIP', 'WPA',
       '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'inLI', 'gmLI', 'exLI', 'Pulls',
       'WPA/LI', 'Clutch', 'FB% 2', 'FBv', 'SL%', 'SLv', 'CT%', 'CTv', 'CB%',
       'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%', 'PO%', 'wFB',
       'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C','wSL/C', 'wCT/C', 'wCB/C', 'wCH/C', 'wSF/C', 'wKN/C', 'O-Swing%',
       'Z-Swing%', 'Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'Zone%',
       'F-Strike%', 'SwStr%', 'HLD', 'SD', 'MD', 'ERA-', 'FIP-', 'xFIP-', 'K%',
       'BB%', 'SIERA', 'RS/9', 'E-F','K-BB%', 'Pull%',
       'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'kwERA', 'TTO%','Pace (pi)', 'FRM', 'K/9+', 'BB/9+', 'K/BB+', 'H/9+', 'HR/9+', 'AVG+',
       'WHIP+', 'BABIP+', 'LOB%+', 'K%+', 'BB%+', 'LD%+', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+', 'Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+',
       'EV', 'LA', 'Barrels', 'Barrel%', 'maxEV', 'HardHit', 'HardHit%',
       'Events', 'CStr%', 'CSW%', 'xERA']]
pitch_season.to_csv("data/pitcher_season_stats.csv")
pitch_season.head()
print(len(pitch_season.columns))

156

In [32]:
pitch_all = pitch_season.merge(daily_ks_S, on = "Name")
pitch_all.to_csv("data/pitcher_season_daily.csv")
pitch_all.head()

,Name,Team,W,L,WAR,ERA,CG,ShO,IP,TBF,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA,K,Opp,Date
0,Tanner Houck,BOS,4,5,2.5,1.9,1,1,71.0,283,...,112.8,86,0.439,196,0.208,0.317,3.23,5,Toronto,"May 2, 2023"
1,Tanner Houck,BOS,4,5,2.5,1.9,1,1,71.0,283,...,112.8,86,0.439,196,0.208,0.317,3.23,4,Philadelphia,"May 7, 2023"
2,Tanner Houck,BOS,4,5,2.5,1.9,1,1,71.0,283,...,112.8,86,0.439,196,0.208,0.317,3.23,5,Seattle,"May 15, 2023"
3,Tanner Houck,BOS,4,5,2.5,1.9,1,1,71.0,283,...,112.8,86,0.439,196,0.208,0.317,3.23,8,Los Angeles,"May 22, 2023"
4,Tanner Houck,BOS,4,5,2.5,1.9,1,1,71.0,283,...,112.8,86,0.439,196,0.208,0.317,3.23,4,Arizona,"May 28, 2023"

In [33]:
teams1 = team_data['Team'].unique().tolist()
teams1

['NYY',
 'LAD',
 'PHI',
 'MIL',
 'HOU',
 'BAL',
 'ATL',
 'KCR',
 'SDP',
 'CLE',
 'BOS',
 'LAA',
 'TOR',
 'MIN',
 'TEX',
 'ARI',
 'SFG',
 'COL',
 'STL',
 'DET',
 'NYM',
 'CHC',
 'OAK',
 'WSN',
 'TBR',
 'SEA',
 'PIT',
 'CIN',
 'MIA',
 'CHW']

In [34]:
team_data = team_data.replace(teams1, ['Atlanta', 'Tampa Bay', 'Texas', 'Los Angeles', 'Los Angeles', 'Boston', 
                                       'Arizona', 'San Francisco', 'Toronto', 'St. Louis', 'Baltimore', 'Philadelphia', 
                                       'Cincinnati', 'Chicago', 'New York', 'Pittsburgh', 'Miami', 'San Diego', 'Colorado', 
                                       'Washington', 'Houston', 'Minnesota', 'New York', 'Seattle', 'Milwaukee', 'Cleveland', 
                                       'Chicago', 'Kansas City', 'Detroit', 'Oakland'])
team_data.columns

Index(['Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       ...
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA'],
      dtype='object', length=148)

In [35]:
team_data['Team'].unique()
team_data.to_csv('data/team_batting.csv')
print(len(team_data.columns))

148

In [36]:
full_df = pitch_all.merge(team_data, left_on = "Opp", right_on = "Team")
full_df.head(30)
full_df = full_df.drop(columns = ['Team_y', 'Dol', 'Name'])
print(full_df.select_dtypes(include = 'object').columns)
full_df[['Team_x', 'Opp', 'K', 'Date']].head()

Index(['Team_x', 'Opp', 'Date'], dtype='object')

  Team_x      Opp  K          Date
0    BOS  Toronto  5   May 2, 2023
1    DET  Toronto  5   Jul 9, 2023
2    PHI  Toronto  7  May 10, 2023
3    PHI  Toronto  5  Aug 15, 2023
4    KCR  Toronto  6  Sep 10, 2023

In [37]:
full_df.to_csv("data/all_stats.csv")