In [1]:
import pandas as pd
import numpy as np
import pybaseball as pb
from datetime import date, timedelta, datetime
import time

In [2]:
team_data = pb.team_batting(2023)
team_data.to_csv("data/team_batting.csv")
team_data.iloc[:,1:50].columns

Index(['Season', 'Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes', 'IFH',
       'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'BABIP',
       'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%'],
      dtype='object')

In [3]:
team_data.iloc[:,50:100].columns

Index(['wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C',
       'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C'],
      dtype='object')

In [4]:
team_data.iloc[:,100:150].columns

Index(['wSF/C', 'wKN/C', 'O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%',
       'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR',
       'FA% (sc)', 'FT% (sc)', 'FC% (sc)', 'FS% (sc)', 'FO% (sc)', 'SI% (sc)',
       'SL% (sc)', 'CU% (sc)', 'KC% (sc)', 'EP% (sc)', 'CH% (sc)', 'SC% (sc)',
       'KN% (sc)', 'UN% (sc)', 'vFA (sc)', 'vFT (sc)', 'vFC (sc)', 'vFS (sc)',
       'vFO (sc)', 'vSI (sc)', 'vSL (sc)', 'vCU (sc)', 'vKC (sc)', 'vEP (sc)',
       'vCH (sc)', 'vSC (sc)', 'vKN (sc)', 'FA-X (sc)', 'FT-X (sc)',
       'FC-X (sc)', 'FS-X (sc)', 'FO-X (sc)', 'SI-X (sc)', 'SL-X (sc)',
       'CU-X (sc)', 'KC-X (sc)', 'EP-X (sc)', 'CH-X (sc)'],
      dtype='object')

In [5]:
team_data.iloc[:,150:200].columns

Index(['SC-X (sc)', 'KN-X (sc)', 'FA-Z (sc)', 'FT-Z (sc)', 'FC-Z (sc)',
       'FS-Z (sc)', 'FO-Z (sc)', 'SI-Z (sc)', 'SL-Z (sc)', 'CU-Z (sc)',
       'KC-Z (sc)', 'EP-Z (sc)', 'CH-Z (sc)', 'SC-Z (sc)', 'KN-Z (sc)',
       'wFA (sc)', 'wFT (sc)', 'wFC (sc)', 'wFS (sc)', 'wFO (sc)', 'wSI (sc)',
       'wSL (sc)', 'wCU (sc)', 'wKC (sc)', 'wEP (sc)', 'wCH (sc)', 'wSC (sc)',
       'wKN (sc)', 'wFA/C (sc)', 'wFT/C (sc)', 'wFC/C (sc)', 'wFS/C (sc)',
       'wFO/C (sc)', 'wSI/C (sc)', 'wSL/C (sc)', 'wCU/C (sc)', 'wKC/C (sc)',
       'wEP/C (sc)', 'wCH/C (sc)', 'wSC/C (sc)', 'wKN/C (sc)', 'O-Swing% (sc)',
       'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)',
       'Contact% (sc)', 'Zone% (sc)', 'Pace', 'Def'],
      dtype='object')

In [6]:
team_data.iloc[:,200:250].columns

Index(['wSB', 'UBR', 'Age Rng', 'Off', 'Lg', 'wGDP', 'Pull%', 'Cent%', 'Oppo%',
       'Soft%', 'Med%', 'Hard%', 'TTO%', 'CH% (pi)', 'CS% (pi)', 'CU% (pi)',
       'FA% (pi)', 'FC% (pi)', 'FS% (pi)', 'KN% (pi)', 'SB% (pi)', 'SI% (pi)',
       'SL% (pi)', 'XX% (pi)', 'vCH (pi)', 'vCS (pi)', 'vCU (pi)', 'vFA (pi)',
       'vFC (pi)', 'vFS (pi)', 'vKN (pi)', 'vSB (pi)', 'vSI (pi)', 'vSL (pi)',
       'vXX (pi)', 'CH-X (pi)', 'CS-X (pi)', 'CU-X (pi)', 'FA-X (pi)',
       'FC-X (pi)', 'FS-X (pi)', 'KN-X (pi)', 'SB-X (pi)', 'SI-X (pi)',
       'SL-X (pi)', 'XX-X (pi)', 'CH-Z (pi)', 'CS-Z (pi)', 'CU-Z (pi)',
       'FA-Z (pi)'],
      dtype='object')

In [7]:
team_data.iloc[:,250:300].columns

Index(['FC-Z (pi)', 'FS-Z (pi)', 'KN-Z (pi)', 'SB-Z (pi)', 'SI-Z (pi)',
       'SL-Z (pi)', 'XX-Z (pi)', 'wCH (pi)', 'wCS (pi)', 'wCU (pi)',
       'wFA (pi)', 'wFC (pi)', 'wFS (pi)', 'wKN (pi)', 'wSB (pi)', 'wSI (pi)',
       'wSL (pi)', 'wXX (pi)', 'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)',
       'wFA/C (pi)', 'wFC/C (pi)', 'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)',
       'wSI/C (pi)', 'wSL/C (pi)', 'wXX/C (pi)', 'O-Swing% (pi)',
       'Z-Swing% (pi)', 'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)',
       'Contact% (pi)', 'Zone% (pi)', 'Pace (pi)', 'FRM', 'AVG+', 'BB%+',
       'K%+', 'OBP+', 'SLG+', 'ISO+', 'BABIP+', 'LD+%', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+'],
      dtype='object')

In [8]:
team_data.iloc[:,300:].columns

Index(['Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrels',
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA', 'L-WAR'],
      dtype='object')

In [9]:
team_data = team_data[['Team', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'GB', 'FB', 'LD', 'IFFB', 'Pitches', 'Balls', 'Strikes', 'IFH',
       'BU', 'BUH', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'BABIP',
       'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%','wOBA', 'wRAA', 'wRC', 'Bat', 'Fld', 'Rep', 'Pos', 'RAR', 'WAR', 'Dol',
       'Spd', 'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI',
       'PH', 'WPA/LI', 'Clutch', 'FB% (Pitch)', 'FBv', 'SL%', 'SLv', 'CT%',
       'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%',
       'PO%', 'wFB', 'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C',
       'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C','O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%',
       'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'BsR','O-Swing% (sc)',
       'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)',
       'Contact% (sc)', 'Zone% (sc)', 'Pace', 'Def','FRM', 'AVG+', 'BB%+',
       'K%+', 'OBP+', 'SLG+', 'ISO+', 'BABIP+', 'LD+%', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+','Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrels',
       'Barrel%', 'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%',
       'xBA', 'xSLG', 'xwOBA']]
team_data.dropna(axis = 1)
team_data.head()

,Team,Age,G,AB,PA,H,1B,2B,3B,HR,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,ATL,29,1338,3250,3625,873,516,164,11,182,...,0.121,118.6,1148,0.459,2502,0.142,0.260,NaN,NaN,NaN
1,TEX,29,1345,3392,3792,930,571,216,9,134,...,0.095,115.2,1089,0.419,2600,0.155,0.259,NaN,NaN,NaN
2,LAD,29,1432,3221,3709,786,447,169,15,155,...,0.100,112.7,1015,0.418,2431,0.166,0.275,NaN,NaN,NaN
3,TBR,28,1420,3359,3761,865,527,177,15,146,...,0.085,114.5,1042,0.411,2534,0.157,0.280,NaN,NaN,NaN
4,LAA,28,1381,3298,3730,845,531,152,15,147,...,0.097,117.2,1015,0.412,2464,0.146,0.270,NaN,NaN,NaN

In [14]:
sdate = date(2023,4,30)
edate = datetime.today()-timedelta(days=1)
edate = datetime.strftime(edate, '%Y-%m-%d')
dates = pd.date_range(sdate,edate,freq='d')
dates = list(dates.format())
remove = ['2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13']
for x in remove:
    dates.remove(x)
# print(dates)
dfs = []
for x in dates:
    print(x)
    time.sleep(15)
    pdd = pb.pitching_stats_range(x)
    dfs.append(pdd)
# pitch_data_daily = pb.pitching_stats_range("2023-05-28")
pitch_data_daily = pd.concat(dfs)
pitch_data_daily.to_csv("data/pitcher_daily_stats.csv")
pitch_data_daily.head()

2023-04-30
2023-05-01
2023-05-02
2023-05-03
2023-05-04
2023-05-05
2023-05-06
2023-05-07
2023-05-08
2023-05-09
2023-05-10
2023-05-11
2023-05-12
2023-05-13
2023-05-14
2023-05-15
2023-05-16
2023-05-17
2023-05-18
2023-05-19
2023-05-20
2023-05-21
2023-05-22
2023-05-23
2023-05-24
2023-05-25
2023-05-26
2023-05-27
2023-05-28
2023-05-29
2023-05-30
2023-05-31
2023-06-01
2023-06-02
2023-06-03
2023-06-04
2023-06-05
2023-06-06
2023-06-07
2023-06-08
2023-06-09
2023-06-10
2023-06-11
2023-06-12
2023-06-13
2023-06-14
2023-06-15
2023-06-16
2023-06-17
2023-06-18
2023-06-19
2023-06-20
2023-06-21
2023-06-22
2023-06-23
2023-06-24
2023-06-25
2023-06-26
2023-06-27
2023-06-28
2023-06-29
2023-06-30
2023-07-01
2023-07-02
2023-07-03
2023-07-04
2023-07-05
2023-07-06
2023-07-07
2023-07-08
2023-07-09
2023-07-14
2023-07-15
2023-07-16
2023-07-17
2023-07-18
2023-07-19
2023-07-20

,Name,Age,#days,Lev,Date,Tm,,Opp,G,GS,...,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID
1,Albert Abreu,27,81,Maj-AL,"Apr 30, 2023",New York,@,Texas,1,0,...,0.15,0.05,0.50,0.25,0.0,6.0,0.333,9.0,0.25,656061
2,Bryan Abreu,26,81,Maj-AL,"Apr 30, 2023",Houston,,Philadelphia,1,0,...,0.14,0.09,1.00,0.00,0.0,1.0,0.000,9.0,1.00,650556
3,Domingo Acevedo,29,81,Maj-AL,"Apr 30, 2023",Oakland,,Cincinnati,1,0,...,0.11,0.00,0.33,0.67,0.0,9.0,0.667,0.0,0.00,642758
4,Jason Adam,31,81,Maj-AL,"Apr 30, 2023",Tampa Bay,@,Chicago,1,0,...,0.19,0.10,0.67,0.33,0.0,1.0,0.333,18.0,NaN,592094
5,Scott Alexander,33,81,Maj-NL,"Apr 30, 2023",San Francisco,@,San Diego,1,0,...,0.22,0.11,1.00,0.00,0.0,0.0,0.000,9.0,NaN,518397

In [15]:
daily_ks = pitch_data_daily[['Name', 'SO', 'Opp', 'GS', 'Date']]
daily_ks_S = daily_ks[daily_ks["GS"] == 1]
daily_ks_S = daily_ks_S.rename(columns = {"SO":"K"})
daily_ks_S = daily_ks_S.drop(columns = "GS")
daily_ks_S.head()

              Name  K        Opp          Date
6      Logan Allen  8     Boston  Apr 30, 2023
11   Chris Bassitt  7    Seattle  Apr 30, 2023
16    Kyle Bradish  5    Detroit  Apr 30, 2023
23  Mike Clevinger  8  Tampa Bay  Apr 30, 2023
24       Alex Cobb  7  San Diego  Apr 30, 2023

In [16]:
pitch_season = pb.pitching_stats(2023, qual = 0)
pitch_season.shape

(762, 334)

In [17]:
pitch_season = pitch_season[['Name', 'Team','W', 'L', 'WAR', 'ERA','CG', 'ShO','IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB',
       'IBB', 'HBP', 'WP', 'BK', 'SO', 'GB', 'FB', 'LD', 'IFFB', 'Balls',
       'Strikes', 'Pitches', 'RS', 'IFH', 'BU', 'BUH', 'K/9', 'BB/9', 'K/BB',
       'H/9', 'HR/9', 'AVG', 'WHIP', 'BABIP', 'LOB%', 'FIP', 'GB/FB', 'LD%','GB%', 
       'FB%', 'IFFB%', 'HR/FB', 'IFH%', 'BUH%', 'tERA', 'xFIP', 'WPA',
       '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'inLI', 'gmLI', 'exLI', 'Pulls',
       'WPA/LI', 'Clutch', 'FB% 2', 'FBv', 'SL%', 'SLv', 'CT%', 'CTv', 'CB%',
       'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'XX%', 'PO%', 'wFB',
       'wSL', 'wCT', 'wCB', 'wCH', 'wSF', 'wKN', 'wFB/C','wSL/C', 'wCT/C', 'wCB/C', 'wCH/C', 'wSF/C', 'wKN/C', 'O-Swing%',
       'Z-Swing%', 'Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'Zone%',
       'F-Strike%', 'SwStr%', 'HLD', 'SD', 'MD', 'ERA-', 'FIP-', 'xFIP-', 'K%',
       'BB%', 'SIERA', 'RS/9', 'E-F','K-BB%', 'Pull%',
       'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'kwERA', 'TTO%','Pace (pi)', 'FRM', 'K/9+', 'BB/9+', 'K/BB+', 'H/9+', 'HR/9+', 'AVG+',
       'WHIP+', 'BABIP+', 'LOB%+', 'K%+', 'BB%+', 'LD%+', 'GB%+', 'FB%+',
       'HR/FB%+', 'Pull%+', 'Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+',
       'EV', 'LA', 'Barrels', 'Barrel%', 'maxEV', 'HardHit', 'HardHit%',
       'Events', 'CStr%', 'CSW%', 'xERA']]
pitch_season.to_csv("data/pitcher_season_stats.csv")
pitch_season.head()

,Name,Team,W,L,WAR,ERA,CG,ShO,IP,TBF,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA
181,Kevin Gausman,TOR,7,5,4.0,3.03,0,0,115.2,470,...,12.5,28,0.098,113.6,130,0.455,286,0.167,0.295,3.54
209,Zac Gallen,ARI,11,4,3.6,3.18,0,0,130.1,519,...,13.8,31,0.087,113.8,157,0.440,357,0.169,0.291,3.67
334,Zack Wheeler,PHI,7,4,3.6,4.04,0,0,111.1,469,...,14.4,17,0.054,112.1,118,0.376,314,0.151,0.277,3.25
292,Spencer Strider,ATL,11,3,3.3,3.78,0,0,116.2,476,...,18.3,24,0.098,111.8,91,0.370,246,0.147,0.345,3.06
149,Framber Valdez,HOU,7,6,3.3,2.76,1,1,117.1,471,...,3.4,26,0.084,114.8,138,0.445,310,0.175,0.294,3.92

In [18]:
pitch_all = pitch_season.merge(daily_ks_S, on = "Name")
pitch_all.to_csv("data/pitcher_season_daily.csv")
pitch_all.head()

,Name,Team,W,L,WAR,ERA,CG,ShO,IP,TBF,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA,K,Opp,Date
0,Kevin Gausman,TOR,7,5,4.0,3.03,0,0,115.2,470,...,113.6,130,0.455,286,0.167,0.295,3.54,4,Boston,"May 4, 2023"
1,Kevin Gausman,TOR,7,5,4.0,3.03,0,0,115.2,470,...,113.6,130,0.455,286,0.167,0.295,3.54,9,Philadelphia,"May 10, 2023"
2,Kevin Gausman,TOR,7,5,4.0,3.03,0,0,115.2,470,...,113.6,130,0.455,286,0.167,0.295,3.54,10,New York,"May 16, 2023"
3,Kevin Gausman,TOR,7,5,4.0,3.03,0,0,115.2,470,...,113.6,130,0.455,286,0.167,0.295,3.54,4,Baltimore,"May 21, 2023"
4,Kevin Gausman,TOR,7,5,4.0,3.03,0,0,115.2,470,...,113.6,130,0.455,286,0.167,0.295,3.54,8,Minnesota,"May 26, 2023"

In [19]:
teams1 = team_data['Team'].unique().tolist()
teams1

['ATL',
 'TEX',
 'LAD',
 'TBR',
 'LAA',
 'STL',
 'BOS',
 'ARI',
 'CIN',
 'TOR',
 'BAL',
 'CHC',
 'PHI',
 'SDP',
 'HOU',
 'SFG',
 'MIA',
 'NYM',
 'MIN',
 'WSN',
 'COL',
 'SEA',
 'NYY',
 'PIT',
 'CLE',
 'MIL',
 'CHW',
 'DET',
 'KCR',
 'OAK']

In [20]:
team_data = team_data.replace(teams1, ['Atlanta', 'Tampa Bay', 'Texas', 'Los Angeles', 'Los Angeles', 'Boston', 
                                       'Arizona', 'San Francisco', 'Toronto', 'St. Louis', 'Baltimore', 'Philadelphia', 
                                       'Cincinnati', 'Chicago', 'New York', 'Pittsburgh', 'Miami', 'San Diego', 'Colorado', 
                                       'Washington', 'Houston', 'Minnesota', 'New York', 'Seattle', 'Milwaukee', 'Cleveland', 
                                       'Chicago', 'Kansas City', 'Detroit', 'Oakland'])

In [21]:
team_data['Team'].unique()

array(['Atlanta', 'Tampa Bay', 'Texas', 'Los Angeles', 'Boston',
       'Arizona', 'San Francisco', 'Toronto', 'St. Louis', 'Baltimore',
       'Philadelphia', 'Cincinnati', 'Chicago', 'New York', 'Pittsburgh',
       'Miami', 'San Diego', 'Colorado', 'Washington', 'Houston',
       'Minnesota', 'Seattle', 'Milwaukee', 'Cleveland', 'Kansas City',
       'Detroit', 'Oakland'], dtype=object)

In [23]:
full_df = pitch_all.merge(team_data, left_on = "Opp", right_on = "Team")
full_df.head(30)
full_df = full_df.drop(columns = ['Team_y', 'Dol', 'Name'])
print(full_df.select_dtypes(include = 'object').columns)
full_df[['Team_x', 'Opp', 'K', 'Date']].head()

Index(['Team_x', 'Opp', 'Date'], dtype='object')

  Team_x     Opp  K          Date
0    TOR  Boston  4   May 4, 2023
1    TOR  Boston  7   Jul 2, 2023
2    PHI  Boston  5   May 5, 2023
3    TEX  Boston  3   Jul 6, 2023
4    MIN  Boston  5  Jun 21, 2023

In [24]:
full_df.to_csv("data/all_stats.csv")